@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgb(5, 5, 5);
    color: white;
    margin: 0 auto;
    max-width: 1800px;
}

#root {
    width: 100%;
    display: flex;
    justify-content: space-between;
}



@layer components {
    .sidebar {
        @apply flex-[0_0_22%]
    }

    .trends {
        @apply flex-[0_0_28%]
    }

    .timeline {
        @apply relative flex-[0_0_50%] border-x border-[#2F3336] border-solid
    }

    .header {
        @apply flex items-center justify-between p-4 top-0 sticky border-b border-[#2F3336] z-[100] bg-black
    }

    .top-tweets {
        @apply w-6 h-auto
    }

    .page-title {
        @apply text-2xl font-bold
    }

    .tweet-editor {
        @apply flex items-start justify-start gap-[20px] px-[.3rem] py-4 border-b border-solid border-[#2F3336]
    }

    .avatar {
        @apply flex-[0_0_70px]
    }

    .tweet-editor-form {
        @apply flex-auto
    }

    .tweet-editor-input {
        @apply h-[60] w-full border-none outline-none text-2xl bg-black text-white resize-none pt-[10px] my-[13px]
    }

    .tweet-editor-buttons {
        @apply flex items-center justify-between
    }

    .tweet-editor-actions {
        @apply flex items-center justify-start gap-4
    }

    .button {
        @apply capitalize py-[.7rem] px-6 border-none rounded-[50px] bg-[#1D9BF0] text-white text-base w-fit h-fit
    }

    .tweet {
        @apply flex justify-start items-start gap-[20px] py-6 px-4 border-b border-solid border-[#2F3336]
    }

    .tweet-avatar {
        @apply flex-[0_0_70px] max-w-full max-h-[100px] rounded-full
    }

    .tweet-content {
        @apply flex flex-col items-start justify-start gap-[30px] w-full
    }

    .tweet-body {
        @apply flex flex-col gap-2
    }

    .tweet-title {
        @apply flex justify-start items-start gap-[10px] text-base
    }

    .tweet-title-author {
        @apply text-base
    }

    .tweet-title-details {
        @apply text-[#6E767D]
    }

    .tweet-text {
        @apply text-[#D9D9D9] text-base
    }

    .tweet-image {
        @apply w-full pt-[.3rem]
    }

    /* .tweet-image{
        @apply 
    }  */
    .tweet-actions {
        @apply flex justify-center items-center gap-20 text-[gray] text-base
    }

    .tweet-actions svg {
        @apply w-8 h-auto text-[#2F3336]
    }

    .tweet-action :hover {
        cursor: pointer;
    }
    .tweet-action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
    }
        
    /* .tweet-action:hover>img {
        transition: 100ms;
        border: solid 1px  ;
        border-radius: 30px;
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(869deg) brightness(118%) contrast(119%);
    } */
    /* .tweet-action:nth-child(1):hover {
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(869deg) brightness(118%) contrast(119%);
    }

    .tweet-action:nth-child(2):hover {
        filter: invert(42%) sepia(93%) saturate(301%) hue-rotate(87deg)brightness(119%) contrast(119%);
    }

    .tweet-action:nth-child(3):hover {
        filter: invert(20%) sepia(100%) saturate(9000%) hue-rotate(1deg) brightness(209%) contrast(210%);
    } */

    .tweet-action {
        @apply flex items-center justify-center gap-5
    }

    .link {
        @apply text-white no-underline
    }
}

/*Sidebar Styles*/

.sidebar-content {
    margin-left: 1rem;
}

.page-title-sidebar {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: rgb(238, 231, 231);
}

.side-nav {

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.buttonS {
    margin-top: 1.6rem;
    text-transform: capitalize;
    padding: .4rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
    width: 90%;
}

.user-footer {
    display: flex;
    padding-top: 17rem;
    justify-content: space-between;
}

.user-footer>.img {
    padding-left: 3rem;
}

.footer-cont {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 1rem;
    margin-bottom: 0;
    cursor: pointer;
}

.footer-content>p {
    margin: 0;
}







/* actions hover
.tweet-action:hover>img {
    transition: 100ms;
    border: solid 1px  ;
    border-radius: 30px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(869deg) brightness(118%) contrast(119%);
}


/* Effets hover */
/* 
.side-nav>h1:hover{
    text-decoration: underline;
    cursor: pointer;
}
img:hover{
    cursor: pointer;
}
.author:hover{
    cursor: pointer;
}  */



/*Timeline Styles*/

/* .timeline {
    flex: 0 0 50%;
    font-family: 'Inter', sans-serif;
    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}
/*
.header {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2F3336;
}

.top-tweets {
    width: 1.5rem;
    height: auto;
}

.page-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.tweet-editor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding: .3rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.avatar {
    flex: 0 0 70px;
}

.avatar img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}

.tweet-editor-form {
    flex: auto;
}

.tweet-editor-input {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: black;
    color: white;
    resize: none;
    padding: 10px 0 0 0;
    margin: 13px 0;
}

.tweet-editor-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweet-editor-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.tweet-editor-actions button {
    background-color: transparent;
    border: none;
}

.button {
    text-transform: capitalize;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
}

.tweet {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.tweet-avatar {
    flex: 0 0 70px;
}

.tweet-avatar img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}

.tweet-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}

.tweet-body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.tweet-title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 1rem;
}

.tweet-title svg {
    width: 1.2rem;
    height: auto;
}

.tweet-title-author {
    font-size: 1rem;
}

.tweet-title-details {
    color: #6E767D;
}

.tweet-text {
    color: #D9D9D9;
    font-size: 1rem;
}

.tweet-image {
    width: 100%;
    padding: .3rem 0 0 0;
}

.tweet-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    border-color: #2F3336;
    border-style: solid;
    border-width: 1px;
}

.tweet-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: grey;
    font-size: 1rem;
}

.tweet-actions svg {
    width: 1rem;
    height: auto;
    color: #2F3336;
}

.tweet-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}





.tweet-action:hover>img {
    transition: 100ms;
    border: solid 1px  ;
    border-radius: 30px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(869deg) brightness(118%) contrast(119%);
}
.tweet-action:nth-child(1):hover {
        filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(869deg) brightness(118%) contrast(119%);
}

.tweet-action:nth-child(2):hover {
        filter: invert(42%) sepia(93%) saturate(301%) hue-rotate(87deg)brightness(119%) contrast(119%);
}
.tweet-action:nth-child(3):hover {
        filter: invert(20%) sepia(100%) saturate(9000%) hue-rotate(1deg) brightness(209%) contrast(210%);
}

.not-found{
    align-items: center;
}

.tweet-title-author:hover {
    cursor: pointer;
    text-decoration: underline;
}


.not-found{
    margin-left:43rem;
    margin-top: 14%;
}
.not-found-text{
    margin-left: 45rem;
    }
h2.not-found-text{
    margin-left: 40rem;
    } */




/*Trends Styles*/


.trends>#search-bar {
    display: flex;
    background-color: rgb(35, 34, 34);
    margin: 4%;
    height: 25px;
    border-radius: 25px;
}

.trends>#search-bar>input {
    border: none;
    outline: none;
    background: none;
}

.trends>#search-bar>img {
    border: none;
}

.trend {
    background-color: rgb(35, 34, 34);
    margin: 2%;
    border-radius: 7px;
    padding-left: 0.6rem;
    padding-right: 0.4rem;
    width: 90%;
    display: inline-block;
    align-items: center;
}

.trend>.p {
    margin: 0;
    margin-bottom: 5px;
    margin-top: 13px;
    color: rgb(77, 77, 241);

}

.titre {
    display: flex;
    justify-content: space-between;
}

.author-detail {
    color: #666768;
}

div>.author {
    display: inline-block;
    color: whitesmok
}

.author-name {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.trend-author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
    align-items: flex-start;

}

.content {
    display: flex;
    align-items: flex-start;
}

.trend-content>p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

div>.trend-avatar {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
    margin: 5px;
}

.author-name {
    margin-top: 0;
    margin-bottom: 0;
}

.trend>.content {
    display: flex;
    justify-content: space-between;
}

.trend-content {
    margin-bottom: 18px;
}

.content>button {
    background-color: rgb(223, 212, 212)(216, 210, 210)(216, 210, 210)(138, 127, 127);
    border: none;
    border-radius: 19px;
    height: 1.7rem;
    margin-top: 4px;
    margin-bottom: 4px;
}

button {
    cursor: pointer;
}

.author-name:hover {
    text-decoration: underline;
    cursor: pointer;
}